{
	"device" :
	{
		"name"       : "default",
	//	"type"       : "adalight",
		"type"       : "file",
	//	"output"     : "/dev/ttyUSB0",
		"output"     : "/dev/null",
		"rate"       : 115200,
		"colorOrder" : "rgb"
	},

	"color" :
	{
		"smoothing" :
		{
			"type"             : "linear",
			"time_ms"          : 100,
			"updateFrequency"  : 20.0000,
			"updateDelay"      : 0,
			"continuousOutput" : true
		}
	},

	"framegrabber" : 
	{
		"width"        : 64,
		"height"       : 64,
		"frequency_Hz" : 20.0,
		"priority"     : 900
	},

	//"amlgrabber" :
	//{
	//	"width"        : 160,
	//	"height"       : 160,
	//	"frequency_Hz" : 20.0,
	//	"priority"     : 800
	//},

	"xbmcVideoChecker" : 
	{
		"xbmcAddress"       : "::1",
		"xbmcTcpPort"       : 9090,
		"grabVideo"         : true,
		"grabPictures"      : true,
		"grabAudio"         : true,
		"grabMenu"          : false,
		"grabPause"         : true,
		"grabScreensaver"   : false,
		"enable3DDetection" : true
	},

	"leds" :
	[
		// TBD
	],

	"endOfJson" : "endOfJson"
}
